func Unmarshal{{.Public}}(cmd *cobra.Command, args []string) {
	cmd.DisableFlagParsing = false
	if err := cmd.ParseFlags(args); err != nil {
		DefaultConfig.Logger.Error("failed to parse flags", "cause", err)
		os.Exit(1)
	}
}
