var (
    {{.VarName}} = &cobra.Command{
		Use:                "{{.Use}}",
		Short:              `{{.Short}}`,
		Long:               `{{.Long}}`,
		FParseErrWhitelist: cobra.FParseErrWhitelist{UnknownFlags: true},
        DisableFlagParsing: true,
	}
)

